<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">MyEventBrite, des événements partout en France</h1>
    <p></p>
    <% if user_signed_in? %>
    <p><%= link_to "Crée ton événement !", new_event_path, :class => "btn btn-primary btn-lg", :role => "button" %></p>
    <% else %>
    <p><a class="btn btn-primary btn-lg" href="<% new_user_session_path %>" role="button">Connexion »</a></p>
    <%end%>
    <p></p>
  </div>
</div>

<div class="container">
<% Event.all.each do |event| %>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2><%= event.title %></h2>
      <p><%= event.description %></p>
      <p><a class="btn btn-secondary" href="#" role="button">Voir plus »</a></p>
    </div>
  </div>
  <% end %>

  <hr>

</div>